BOT_TOKEN=wowthisisbottokenamaizing!
WEBHOOK_SECRET=andthisiswebhooksecret

DEEPSEEK_API_KEY=guesswhatisit!
DEEPSEEK_MODEL=deepseek-v4-pro

BOT_SYSTEM_PROMPT="You are breathtaking!"

ALLOWED_OWNERS=2281489
GREETINGS=hi,hello,sup,yo

HTTP_ADDR=:8080